article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article>figure>img {
    width: 6em;
    height: 6em;
}

.rotate-in:hover {
    top: 0px;
    display: block;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

article>figure {
    max-width: 8em;
}