* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

article {
    width: 90%;
    margin-left: 5%;
    background-color: burlywood;
}

form {
    width: 50%;
    margin-left: 25%;
    background-color: moccasin;
}

form label {
    display: inline-block;
    width: 10em;
}

form div {
    margin: 0.5em 0 0 0;
}