<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Snel starten met React</title>
<!-- Note: when deploying, replace "development.js" wi="textth "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel" src="js/ui-controls.js"></script>
<script type="text/babel">
    // object met de gegevens van de Marvelpersonnages
    const MarvelCharacters = [
        {
            name: 'Avengers',
            imageUrl: 'http://i.annihil.us/u/prod/marvel/i/mg/0/03/523219b086a17.jpg'
        },
        {
            name: 'Hulk',
            imageUrl: 'http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg'
        },
        {
            name: 'Spider-Man',
            imageUrl: 'http://i.annihil.us/u/prod/marvel/i/mg/3/50/526548a343e4b.jpg'
        },
        {
            name: 'Spider-Girl',
            imageUrl: 'http://i.annihil.us/u/prod/marvel/i/mg/1/70/4c003adccbe4f.jpg'
        },
        {
            name: 'X-Man',
            imageUrl: 'http://i.annihil.us/u/prod/marvel/i/mg/d/10/535febd73f84f.jpg'
        }

    ]
</script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
    ReactDOM.render(<Marvel list={MarvelCharacters} heading="Nash Keuze"></Marvel>, document.querySelector('#root'))
</script>
</body>
</html>